APP_ABBR=XI
APP_NAME=Xet Industries
APP_DOMAIN=xetindustries.com
APP_URL=https://xetindustries.com
APP_PORT=5000
APP_MODE=release

#DB_ENABLE=false
RDB_ENABLE=false
DB_PASS="5up3r5tr0n6p455"

JWT_SECRET="5up3r5tr0n6p455"
