nav .nav-sidemenu-wrap {
    --underlay-bg: var(--nav-sudemenu-underlay-bg, unset);
    --underlay-blur: var(--nav-sudemenu-underlay-blur, unset);
    
    /* --menu-colr: var(--colr-txt); */
    /* --menu-active-bg: var(--bg-1);
    --menu-hov-bg: var(--bg-1);
    --menu-active-bg: var(--bg-15); */
}
nav .nav-sidemenu {
    --menu-drxn: column;
    --menu-mr: .75em;
    --menu-a-pd: .75em 1em .75em 1.75em;

    position: fixed;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
    z-index: 4000;
    opacity: 0;
    pointer-events: none;

    margin-top: var(--nav-sidemenu-mr-yt, 0);
    height: var(--nav-sidemenu-y, 100%);
    width: var(--nav-sidemenu-x, 100%);
   
    top: 0; right: 0;
    transform: var(--nav-sidemenu-transform, translate(.25em, 0) scale(1));
    transition: .08s ease;

    background: var(--nav-bg, var(--bg));
    border-radius: var(--nav-sidemenu-brdr-rad, var(--radius-s));
    /* border: 1px solid var(--colr-outln); */
    box-shadow: var(--nav-sidemenu-shadow,
        inset 0 1px 0 0 var(--nav-sidemenu-shadow-colr, var(--colr-outln, transparent)),   /* yt */
        inset 0 -1px 0 0 var(--nav-sidemenu-shadow-colr, var(--colr-outln, transparent)),  /* yb */
        inset 1px 0 0 0 var(--nav-sidemenu-shadow-colr, var(--colr-outln, transparent)));  /* xl */
}
body:has(#id-nav-sidemenuOpen-btn:checked) .nav-sidemenu {
    opacity: 1;
    pointer-events: initial;
    transform: translate(0, 0) scale(1);
    transition: .12s ease;
}
nav .nav-sidemenu-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: calc(var(--nav-pd-yt) - (var(--nav-sidemenu-mr-yt, 0px) / 2)) var(--nav-pd-x) calc(var(--nav-pd-yb) - (var(--nav-sidemenu-mr-yt, 0px) / 2));
    height: var(--nav-sidemenu-head-y, fit-content);
    border-bottom: var(--nav-brdr-yb, 1px solid var(--nav-brdr-colr, var(--colr-divider)));
}

:root{
    --nav-sidemenu-x: 70vw;
    --nav-sidemenu-head-y: calc(var(--nav-y) - var(--nav-sidemenu-mr-yt, 0px) - var(--nav-sidemenu-mr-yb, 0px) + 1px);
    
    --nav-sudemenu-underlay-blur: 0px;
    --nav-sidemenu-brdr-rad: var(--radius-m) 0 0 var(--radius-m);
}
@media screen and (min-width: 320px) {:root{ }}
@media screen and (min-width: 480px) {:root{
    --nav-sudemenu-underlay-bg: transparent;
    
    --nav-sidemenu-mr-yt: 2px;
    --nav-sidemenu-x: 17.25em;
    --nav-sidemenu-y: fit-content;
    --nav-sidemenu-transform: translate(.25em, -.25em) scale(.97);
    --nav-sidemenu-brdr-rad: var(--radius-l);
    --nav-sidemenu-shadow: inset 0 0 0 1px var(--nav-sidemenu-shadow-colr, var(--colr-outln, transparent));
}}
@media screen and (min-width: 768px) {:root{ }}
@media screen and (min-width: 1024px) {:root{ }}
@media screen and (min-width: 1280px) {:root{ }}
@media screen and (min-width: 1440px) {:root{ }}
@media screen and (min-width: 1920px) {:root{ }}