{{ define "prtls/nav" }}

<nav role="navigation">
	<div class="nav-con">

		<div class="brand">
			<a href="/" class="b-brand" data-svg-src="/res/static/brand/brand.svg"></a>
			<a href="/" class="b-logo icon" data-svg-src="/res/static/brand/brand-logo.svg"></a>

			{{ if .P.subBrand }}
			<div class="sub-brand-wrap">
				<div class="line-y"></div>
				<div class="sub-brand">
					<a href="{{ index .P.navMenu .P.subBrand }}">{{ .P.subBrand }}</a>
				</div>
			</div>
			{{ end }}
		</div>

		<div class="nav-m">
			<div class="menu">
				{{ range .P.navMenu }}
				{{ if eq .Label $.P.currentMenu }}
				<a href="{{ .Href }}" class="current-menu">{{ .Label }}</a>
				{{ else }}
				<a href="{{ .Href }}">{{ .Label }}</a>
				{{ end }}
				{{ end }}
			</div>
		</div>

		<div class="nav-r">
			{{/* template "prtls/nav.toast" . */}}
			{{ template "prtls/nav.search-wdgt" . }}
			{{ template "prtls/nav.signuplogin" . }}
			{{ template "prtls/nav.theme-switch" . }}
			{{ template "prtls/nav.sidemenu" . }}
		</div>

	</div>
</nav>

{{ end }}