{{ define "prtls/nav" }}

<?php 
    use xet\Loc;

    $subBrand = isset($subBrand) ? $subBrand : "";
    $currentMenu = isset($currentMenu) ? $currentMenu : 'null';

	$menu_items = [
		'Home' => "/",
		'Blog' => "/blog",
		'Product' => "#",
		'Support' => "#",
		'Contact' => "#",
	];
?>


<nav role="navigation">
	<div class="nav-con">

		<div class="brand">
			<a href="/" class="b-logo icon"> <?= Loc::FILEo('BRAND','logo') ?> </a>
			<a href="/" class="b-brand"> <?= Loc::FILEo('BRAND','brand') ?> </a>

			<?php if (!empty($subBrand)) { ?>
				<div class="sub-brand-wrap">
					<div class="line-y"></div>
					<div class="sub-brand">
						<a href="<?= $menu_items["$subBrand"]; ?>"><?= $subBrand; ?></a>
					</div>
				</div>
			<?php } ?>
		
		</div>

		<div class="nav-m">
			<div class="menu">
				<?php
				foreach ($menu_items as $label => $href) { ?>
					<?php if ($label === $currentMenu) { ?>
						<a href="<?= $href; ?>" class="current-menu"><?= $label; ?></a>
					<?php } else { ?><a href="<?= $href; ?>"><?= $label; ?></a>
				<?php }} ?>
			</div>

		</div>


		<div class="nav-r">

			{ { template "prtls/nav.toast" . }}
			{{ template "prtls/nav.search-wdgt" . }}
			{{ template "prtls/nav.signuplogin" . }}
			{{ template "prtls/nav.theme-switch" . }}
			{{ template "prtls/nav.sidemenu" . }}

		</div>
	</div>
</nav>
{{ end }}
