# Go build
/build/
*.log

# Binaries for programs and plugins
*.out
*.test
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db

# Dependency files
/tmp/
/bin/
/vendor/bin

# OS/IDE's
.cjl-kondo/
.idea/
.lsp/
.vscode/

*.swp
.DS_Store
Thumbs.db

# Config
.env
*.local