# Build
/build/
/dist/
*.log

# Config
config/*.tmp.json
.env
*.local

# Binaries and plugins
*.out
*.test
*.exe
*.exe~
*.dll
*.so
*.dylib
*.db

# Dependency files
*.tmp
*.tmp.*
tmp
/bin/
/vendor/bin

# OS/IDE's
Thumbs.db
.clj-kondo/
.idea/
.lsp/
.vscode/
.DS_Store
*.swp