{{ define "prtls/nav.search-wdgt" }}
<section class="search-wrap" tabindex="0">

    <div class="searchbar">
        <!-- search-widget Btn-->
        <input type="checkbox" id="id-search-wdgt-btn" class="underlay-show-btn">
        <label for="id-search-wdgt-btn" class="underlay"></label>
        <label for="id-search-wdgt-btn" class="icon" title="Search widget">
            <svg class="search-icon" width="20" height="20" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="256" width="256"/><circle cx="116" cy="116" fill="none" r="84" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" x1="175.4" x2="224" y1="175.4" y2="224"/></svg>
        </label>
    
        <!-- search-widget -->
        <div class="search-wdgt" id="id-search-wdgt">
            <form class="search-wdgt-form"  action="">
                <svg class="search-icon" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg"><rect fill="none" height="256" width="256"/><circle cx="116" cy="116" fill="none" r="84" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/><line fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16" x1="175.4" x2="224" y1="175.4" y2="224"/></svg>
                
                <input id="id-search-wdgt-btn" type="search" name="search" autocomplete="search" maxlength="256" class="search-wdgt-input" placeholder="What are you looking for?">
            </form>
        </div>

        <!-- search-bar-->
        <form action="" method="get" class="searchbar-form">
            <input type="search" name="search" id="id-search_input" autocomplete="search" maxlength="256" class="searchbar-input" placeholder="Search.." autocomplete="off">
            <button type="reset"  title="clear" class="search-reset"></button>
        </form>
    </div>
    
</section>
{{ end }}
