.blog-content b,
.blog-content strong {
    --b-wght-def: calc(var(--p-wght) + 180);
    font-weight: var(--b-wght-def, var(--b-wght-def));
    letter-spacing: +.005em;
}

.blog-content b>b,
.blog-content strong>strong {
    --bb-wght-def: calc(var(--p-wght) + 140);
    font-weight: var(--bb-wght-def, var(--bb-wght-def));
    letter-spacing: +.01em;
}

.blog-content a {
    font-weight: 500;
    text-decoration: underline;

    &:hover {
        text-decoration: underline;
        color: var(--colr-a-hov);
    }
}