.blog article .blog-yt {
    overflow: hidden;

    margin: var(--blog-yt-mr, 1.5em 0 1.5em);
    aspect-ratio: var(--blog-yt-ratio, 16/9);
    
    background: transparent;
    border-radius: var(--radius-s);
    /* box-shadow: var(--blog-yt-shadow, var(--post-img-box-shadow)); */
}
.blog article .blog-yt iframe {
    width: 100%;
    height: 100%;
}
