nav {
    z-index: 2000;
    position: sticky;
    display: flex;

    top: 0;
    margin: 0 auto;
    width: min(var(--nav-x, 100%), 100%);
    
    color: var(--colr-nav, inherit);
    background: var(--nav-bg, inherit);
    border-bottom: var(--nav-brdr-yb, 1px solid var(--nav-brdr-colr, var(--colr-divider)));

    transition-duration: 0s;
    transition: top .22s;
}

.nav-con {
    --icon-z: 1.6em;
    /* --icon-svg-z: 1.2em; */
    --icon-pd: 0 .25em;

    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    align-items: center;

    width: 100%;
    height: var(--nav-y, fit-content);
    padding: var(--nav-pd);
}

nav .nav-m {
    display: var(--nav-m-display, none);
    align-items: center;
    justify-content: space-between;
    min-width: fit-content;
}
nav .nav-r {
    display: flex;
    align-items: center;

    margin-left: auto;
    gap: var(--nav-icons-gap, 1.25em);
}
nav .menu {
    display: flex;
    flex-direction: var(--menu-drxn, row);
    gap: var(--menu-gap, 2px);
    margin: var(--menu-mr, 0);
    padding: var(--menu-pd, 0);
    
    cursor: var(--menu-cursor, pointer);
    color: var(--menu-colr, var(--colr-txt-mute));

    &:hover {
        --menu-current-bg: transparent;
    }
}
nav .menu a.menu-current {
    --menu-font-wght-calc: calc(var(--menu-font-wght) + 50);

    font-weight: var(--menu-font-wght-calc, 400);

    color: var(--menu-current-colr, var(--colr-txt));
    background: var(--menu-current-bg, var(--bg-05));
}
nav .menu a {
    --menu-font-wght: 450;
    
    font-size: 0.875rem;    
    font-weight: var(--menu-font-wght, 450);
    line-height: 1em;
    padding: var(--menu-a-pd, 0.5rem 0.75rem);

    color: inherit;
    border-radius: var(--menu-brdr-rad, var(--radius-s));
    transition: background-color 0s;

    &:hover {
        color: var(--menu-hov-colr, var(--colr-txt));
        background: var(--menu-hov-bg, var(--bg-075));
        transition: color, background .16s ease;
    }
    &:active {
        background: var(--menu-active-bg, var(--bg-1));
    }
}
nav label[for="id-login-btn"].icon {display: var(--nav-login-btn-display, flex);}
nav label[for="id-signup-btn"].icon {display: var(--nav-signup-btn-display, flex);}

:root {
    --nav-pd-x: 1em;
    --nav-pd-yt: .75em;
    --nav-pd-yb: .5em;
    --nav-y-inner: 2.125em;
    --nav-pd: var(--nav-pd-yt, var(--nav-pd-y)) var(--nav-pd-x) var(--nav-pd-yb, var(--nav-pd-y));
    --nav-y: calc(var(--nav-y-inner) + var(--nav-pd-yt, var(--nav-pd-y)) + var(--nav-pd-yb, var(--nav-pd-y)));

    --nav-icons-gap: 1.25em;
    --nav-signup-btn-display: none;
}
@media screen and (min-width: 320px) {:root{ }}
@media screen and (min-width: 480px) {
    :root{
        --nav-signup-btn-display: unset;
    }
}
@media screen and (min-width: 768px) {:root{ }}
@media screen and (min-width: 1024px) {
    :root{
        --nav-m-display: flex;
    }
}
@media screen and (min-width: 1280px) {:root{ }}
@media screen and (min-width: 1440px) {:root{ }}
@media screen and (min-width: 1920px) {:root{ }}

