:root{
    /* --nav-mr-y: 0.9rem; */
    --nav-mr-x: 1em;
    --nav-mr-y: 1em;
    --nav-mr-yt: .76em;
    --nav-mr-yb: .5em;
    --nav-mr: var(--nav-mr-yt, var(--nav-mr-y)) var(--nav-mr-x) var(--nav-mr-yb, var(--nav-mr-y));
}

nav {
    z-index: 2000;
    position: sticky;
    display: flex;

    top: 0;
    margin: 0 auto;
    width: min(var(--nav-x, 100%), 100%);
    
    color: var(--colr-nav, inherit);
    background: var(--nav-bg, inherit);
    border-bottom: var(--nav-brdr-yb, 1px solid var(--nav-brdr-colr, var(--colr-divider)));

    transition-duration: 0s;
    transition: top 0.22s;
}

.nav-con {
    --icon-z: 1.6em;
    /* --icon-svg-z: 1.2em; */
    --icon-pd: 0 .25em;

    overflow-x: auto;
    scrollbar-width: none;
    display: flex;
    align-items: center;

    width: 100%;
    height: var(--nav-height, fit-content);
    padding: var(--nav-mr);
}

nav .nav-m {
    display: var(--nav-m-display, none);
    align-items: center;
    justify-content: space-between;
    min-width: fit-content;
}
nav .nav-r {
    display: flex;
    align-items: center;

    margin-left: auto;
    gap: var(--nav-icons-gap, 1.25em);
}
nav .menu {
    display: flex;
    flex-direction: var(--menu-direction, row);
    gap: var(--menu-gap, 2px);
    cursor: var(--menu-cursor, pointer);
    color: var(--menu-colr, var(--colr-txt-mute));

    &:hover {
        --menu-current-bg: transparent;
    }
}
nav .menu a.current-menu {
    --menu-font-wght-calc: calc(var(--menu-font-wght) + 50);

    font-weight: var(--menu-font-wght-calc, 400);
    color: var(--menu-current-colr, var(--colr-txt));
    background: var(--menu-current-bg, var(--bg-05));
}
nav .menu a {
    --menu-font-wght: 450;
    
    padding: 0.5rem 0.75rem;
    font-size: 0.875em;
    font-weight: var(--menu-font-wght, 450);
    line-height: 1em;

    color: inherit;
    border-radius: var(--menu-brdr-rad, var(--radius-s));
    transition: background-color 0s;


    &:hover {
        color: var(--menu-hov-colr, var(--colr-txt));
        background: var(--menu-hov-bg, var(--bg-075));
        transition: all 0s ease;
    }
    &:active {
        background: var(--menu-active-bg, var(--bg-1));
    }
}

nav label[for="id-login-btn"].icon {display: var(--nav-login-btn-display, flex);}
nav label[for="id-signup-btn"].icon {display: var(--nav-signup-btn-display, flex);}

:root {
    --nav-icons-gap: 1.25em;
    --nav-signup-btn-display: none;

    /* --menu-current-bg: var(--bg-075);
    --menu-hov-bg: var(--bg-075);
    --menu-active-bg: var(--bg-1); */
}
@media screen and (min-width: 320px) {:root{ }}
@media screen and (min-width: 480px) {:root{ }}
@media screen and (min-width: 768px) {
    :root{ 
        --nav-m-display: flex;
        --nav-signup-btn-display: unset;
    }
}
@media screen and (min-width: 1024px) {:root{ }}
@media screen and (min-width: 1280px) {:root{ }}
@media screen and (min-width: 1440px) {:root{ }}
@media screen and (min-width: 1920px) {:root{ }}

