nav .brand {
    --icon-z: 1.7em;
    --icon-y: 1.9em;
    --icon-svg-x: unset;

    --liney-mr: 0 .5em;
    --liney-colr: var(--bg-1);

    display: flex;
    align-items: center;
    margin-right: 1.5em;
}
nav .brand a {
    align-items: center;
}

nav .brand img,
nav .brand svg  {
    /* margin: 0.185em 0; */
    
    width: unset;
    height: var(--icon-z);
    color: var(--brand-colr, var(--colr));
    opacity: 1;
}

nav .brand a.b-logo {
    display: none;
    /* display: flex; */
}
nav .brand a.b-brand {
    /* display: none; */
}

nav .sub-brand-wrap {    
    display: var(--nav-sub-brand-display, none);
    flex-direction: row;
}
nav .sub-brand {
    font-size: .875em;
    color: var(--colr-txt-mute);
}
nav .sub-brand a:hover {
    color: var(--colr-txt);
    opacity: 1;
}

@media screen and (min-width: 460px) {
    :root {
        --nav-sub-brand-display: flex;
    }

    nav .brand a.b-logo {
        display: none;
    }
    nav .brand a.b-brand {
        display: flex;
    }
}