{{ define "prtls/nav.signuplogin" }}

<section class="signuplogin-wrap">

    <input type="radio" name="signuplogin-btn-grp" id="id-login-btn" class="underlay-show-btn">
    <input type="radio" name="signuplogin-btn-grp" id="id-signup-btn" class="underlay-show-btn">
    <input type="radio" name="signuplogin-btn-grp" id="id-signuplogin-close-btn" class="underlay-hide-btn">

    <label for="id-login-btn" aria-label="Log In" class="icon" tabindex="0" title="Log in">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em">
            <path
                d="M217.9 105.9L340.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L217.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1L32 320c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM352 416l64 0c17.7 0 32-14.3 32-32l0-256c0-17.7-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l64 0c53 0 96 43 96 96l0 256c0 53-43 96-96 96l-64 0c-17.7 0-32-14.3-32-32s14.3-32 32-32z" />
        </svg>
    </label>

    <label for="id-signup-btn" aria-label="Sign Up" class="icon" tabindex="0" title="Sign up">
        <svg xmlns="http://www.w3.org/2000/svg" height="22.5px" viewBox="0 -960 960 960" width="23px" fill="#e8eaed">
            <path
                d="M360-120q-66 0-113-47t-47-113v-327q-35-13-57.5-43.5T120-720q0-50 35-85t85-35q50 0 85 35t35 85q0 39-22.5 69.5T280-607v327q0 33 23.5 56.5T360-200q33 0 56.5-23.5T440-280v-400q0-66 47-113t113-47q66 0 113 47t47 113v327q35 13 57.5 43.5T840-240q0 50-35 85t-85 35q-50 0-85-35t-35-85q0-39 22.5-70t57.5-43v-327q0-33-23.5-56.5T600-760q-33 0-56.5 23.5T520-680v400q0 66-47 113t-113 47ZM240-680q17 0 28.5-11.5T280-720q0-17-11.5-28.5T240-760q-17 0-28.5 11.5T200-720q0 17 11.5 28.5T240-680Zm480 480q17 0 28.5-11.5T760-240q0-17-11.5-28.5T720-280q-17 0-28.5 11.5T680-240q0 17 11.5 28.5T720-200ZM240-720Zm480 480Z" />
        </svg>
    </label>

    <label for="id-signuplogin-close-btn" title="Close" class="underlay"></label>


    <div class="signuplogin-main">
        <div class="signuplogin">
            <span class="signuplogin-brand">
                <a href="/" rel="noopener noreferrer" data-svg-src="/res/static/brand/brand.svg"></a>
            </span>

            <div class="login-wrap">
                <span class="title">Log in</span>
                <form class="signuplogin-form" method="post" action="/login">
                    <!-- <?php include(Loc::file('PRTL','csrf')); ?>
                    <?php include(Loc::file('PRTL','currentUrl')); ?> -->

                    <div class="field">
                        <div class="label-wrap">
                            <span>Email</span>
                        </div>

                        <input type="text" name="login_id" id="login_id" autocomplete="email" aria-label="Email Address"
                            required placeholder="email or username">
                    </div>

                    <div class="field">
                        <div class="label-wrap">
                            <sapn>Password</sapn>
                            <a href="">Forgot password?</a>
                        </div>

                        <input type="password" name="login_pass" id="login-pass" autocomplete="current-password"
                            aria-label="Email Password" required placeholder="password">
                    </div>

                    <div>
                        <button type="submit" name="submit_login" class="submit-login-btn" tabindex="0"
                            aria-label="Submit Login">Log In</button>
                        <div class="label-wrap tosignuplogin">
                            <sapn>Don't have an account? <label for="id-signup-btn" aria-label="Sign Up">Sign up</label>
                            </sapn>
                        </div>
                    </div>
                </form>
            </div>


            <div class="signup-wrap">
                <span class="title">Sign up</span>
                <form class="signuplogin-form" method="post" action="/signup">
                    <!-- <?php include(Loc::file('PRTL','csrf')); ?>
                    <?php include(Loc::file('PRTL','currentUrl')); ?> -->

                    <div class="field">
                        <div class="label-wrap">
                            <sapn>Full name</sapn>
                        </div>

                        <input type="text" name="signup_name" id="user-name" autocomplete="username" aria-label="Name"
                            required placeholder="full name">
                    </div>

                    <div class="field">
                        <div class="label-wrap">
                            <sapn>Email</sapn>
                        </div>

                        <input type="email" name="signup_email" id="signup-email" autocomplete="new-email"
                            aria-label="Email Address" required placeholder="email@gmail.com">
                    </div>

                    <div class="field">
                        <div class="label-wrap">
                            <sapn>Password</sapn>
                        </div>
                        <input type="password" name="signup_pass" id="signup-pass" autocomplete="new-username"
                            aria-label="Email Password" required placeholder="password">
                    </div>

                    <div>
                        <button type="submit" name="submit_signup" class="submit-signup-btn" tabindex="0"
                            aria-label="Submit Signup">Sign Up</button>
                        <div class="label-wrap tosignuplogin">
                            <sapn>Already have an account? <label for="id-login-btn" aria-label="Log In">Log in</label>
                            </sapn>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</section>
{{ end }}