{{ define "content" }}

<h1 class="nodis"> {{ .P.description }} </h1>

<div class="blogs-wrap wrap">

    <div class="blogs con">

        <div class="blogs-category">
            <div class="category-menu">
                <a href="#">Server</a>
            </div>
            <a href="#">See All</a>
        </div>

        <div class="blogs-grid" id="BlogCards">
            <?php 
                $blogsCardEncode = 0;
                $blogsCardBuffer = 0;
                require(Loc::file('CNTR','get-card.blogs'));
            ?>
        </div>

        <div class="bouncy-loader" id="blogCards_loading"> <div></div><div></div><div></div> </div>
        
    </div>

</div>

{{ end }}
{{ define "pages/blogs" }}
{{ template "layout/base" . }}
{{ end }}
