:root {
    /* Radiuses */
    --radius-xxs: 2px;
    --radius-xs: 4px;
    --radius-s: 8px;
    --radius-m: 12px;
    --radius-l: 16px;
    --radius-xl: 20px;
    --radius-xxl: 28px;
    --radius-xxxl: 36px;
    --radius: var(--radius-m);

    /* Layout sizing - for padding and margins */
    --size-2-1: 2px;
    --size-2-2: 4px;
    --size-2-3: 6px;
    --size-4-1: 4px;
    --size-4-2: 8px;
    --size-4-3: 12px;
    --size-4-4: 16px;
    --size-4-5: 20px;
    --size-4-6: 24px;
    --size-4-8: 32px;
    --size-4-9: 36px;
    --size-4-10: 40px;
    --size-4-12: 48px;
    --size-4-16: 64px;
    --size-4-18: 72px;

    --lineh: 1;
    --lineh-s: 1.2;
    --lineh-s: 1.3;
    --lineh-m: 1.5;
}