@font-face {
    font-family: 'Inter';
    src: url(/res/static/fonts/Inter/Inter-VariableFont_slnt_wght.woff2) format("woff2-variations");
    font-style: normal;
    font-display: swap;
    font-weight: 1 999;
    /* font-variation-settings: 'slnt' 0, 'wght' 100; */
    font-variation-settings: "liga", "calt";
}

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800&display=swap"); */


:root {
    --font: "Inter", ui-sans-serif, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    --font-monospace: ui-monospace, SFMono-Regular, "Cascadia Mono", "Roboto Mono", "DejaVu Sans Mono", "Liberation Mono", Menlo, Monaco, "Consolas", "Source Code Pro", monospace, system-ui;
    --p-font: var(--font);
    --h1-font: var(--font);
    --h2-font: var(--font);
    --h2-font: var(--font);
    --h3-font: var(--font);
    --h4-font: var(--font);
    --h5-font: var(--font);
    --h6-font: var(--font);

    --p-wght: 400;

    --rem: 1rem;
    --p-space: 1rem;
    --hx-space: calc(var(--p-space) * 2.6);
}

p { margin-block: var(--p-space); unicode-bidi: plaintext; }
h1, h2, h3, h4, h5, h6 { margin-block: var(--p-space); }
:is(p,pre,table,ul,ol) + :is(h1,h2,h3,h4,h5,h6),
div:is(.el-p,.el-pre,.el-table,.el-ul,.el-ol) + :is(h1,h2,h3,h4,h5,h6) { margin-top: var(--hx-space); }

p {
    --p-space: 1em;
    font: var(--p, var(--p-wght, 400) var(--p-z, 1rem) / var(--p-lineh, 1.5em) var(--p-font, inherit));
    letter-spacing: var(--p-letsp, normal); font-variant: var(--p-variant, normal); font-style: var(--p-style, normal);}
h1 {
    font: var(--h1, var(--h1-wght, 700) var(--h1-z, 2.6em) / var(--h1-lineh, 1.2) var(--h1-font, inherit));
    letter-spacing: var(--h1-letsp, -0.015em); font-variant: var(--h1-variant, normal); font-style: var(--h1-style, normal);}
h2 {
    font: var(--h2, var(--h2-wght, 600) var(--h2-z, 1.602em) / var(--h2-lineh, 1.2) var(--h2-font, inherit));
    letter-spacing: var(--h2-letsp, -0.015em); font-variant: var(--h2-variant, normal); font-style: var(--h2-style, normal);}
h3 {
    font: var(--h3, var(--h3-wght, 600) var(--h3-z, 1.424em) / var(--h3-lineh, 1.3) var(--h3-font, inherit));
    letter-spacing: var(--h3-letsp, -0.015em); font-variant: var(--h3-variant, normal); font-style: var(--h3-style, normal);}
h4 {
    font: var(--h4, var(--h4-wght, 600) var(--h4-z, 1.266em) / var(--h4-lineh, 1.4) var(--h4-font, inherit));
    letter-spacing: var(--h4-letsp, 0.015em); font-variant: var(--h4-variant, normal); font-style: var(--h4-style, normal);}
h5 {
    font: var(--h5, var(--h5-wght, 600) var(--h5-z, 1.125em) / var(--h5-lineh, 1.5) var(--h5-font, inherit));
    letter-spacing: var(--h5-letsp, 0.015em); font-variant: var(--h5-variant, normal); font-style: var(--h5-style, normal);}
h6 {
    font: var(--h6, var(--h6-wght, 600) var(--h6-z, 1em) / var(--h6-lineh, 1.5) var(--h6-font, inherit));
    letter-spacing: var(--h6-letsp, 0.015em); font-variant: var(--h6-variant, normal); font-style: var(--h6-style, normal);
}
:root{
    --p-z: 16px;
    --p-z: 16.33px;
    --p-lineh: 1.7;

    --h1-z: 1.802em;
    --h1-wght: 600;
    --h1-letsp: -0.025em;
    
    --h2-z:  1.424em;
    --h2-wght: 550;
    --h2-letsp: -0.025em;
}
@media screen and (min-width: 320px) {:root{ }}
@media screen and (min-width: 480px) {:root{ }}
@media screen and (min-width: 768px) {
    :root{
        --p-z: unset;
        /* --p-z: 16.33px; */
        --p-letsp: .015em;        

        --h1-z: unset;
        --h1-wght: unset;

        --h2-z: unset;
        --h2-wght: 600;
        /* --h2-letsp: unset; */
    }
}
@media screen and (min-width: 1024px) {:root{ }}
@media screen and (min-width: 1280px) {:root{ }}
@media screen and (min-width: 1440px) {:root{ }}
@media screen and (min-width: 1920px) {:root{ }}