:root {
    /* Callouts */
    --callout-border-width: 0px;
    --callout-border-opacity: 0.25;
    --callout-padding: var(--size-4-3) var(--size-4-3) var(--size-4-3) var(--size-4-6);
    --callout-radius: var(--radius-s);
    --callout-blend-mode: var(--highlight-mix-blend-mode);
    --callout-title-color: inherit;
    --callout-title-padding: 0;
    --callout-title-size: inherit;
    --callout-title-weight: calc(var(--font-weight) + var(--bold-modifier));
    --callout-content-padding: 0;
    --callout-content-background: transparent;
    --callout-bug: var(--color-red-rgb);
    --callout-default: var(--color-blue-rgb);
    --callout-error: var(--color-red-rgb);
    --callout-example: var(--color-purple-rgb);
    --callout-fail: var(--color-red-rgb);
    --callout-important: var(--color-cyan-rgb);
    --callout-info: var(--color-blue-rgb);
    --callout-question: var(--color-orange-rgb);
    --callout-success: var(--color-green-rgb);
    --callout-summary: var(--color-cyan-rgb);
    --callout-tip: var(--color-cyan-rgb);
    --callout-todo: var(--color-blue-rgb);
    --callout-warning: var(--color-orange-rgb);
    --callout-quote: 158, 158, 158;

    --text-faint: var(--colr-50);
    --text-muted: var(--colr-70);
    --text-normal: var(--colr-100);
    --text-on-accent: white;
    --text-on-accent-inverted: black;
    --text-error: var(--colr-red);
    --text-warning: var(--colr-orange);
    --text-success: var(--colr-green);
    --text-highlight-bg-rgb: 255, 208, 0;
    --text-highlight-bg: rgba(var(--text-highlight-bg-rgb), 0.4);
    --text-accent-hov: var(--colr-accent-2);
    --interactive-normal: var(--colr-base-00);
    --interactive-hov: var(--colr-base-10);
    --interactive-accent-hsl: var(--colr-accent-hsl);
}

/* --Theme static vars-- */
/* html[data-theme='light'], */
:root {
    color-scheme: light;
    --mono-rgb: var(--mono-rgb-0);
    --mono-rgb-inv: var(--mono-rgb-100);
    --colr-red-rgb: 233, 49, 71;
    --colr-red: #e93147;
    --colr-orange-rgb: 236, 117, 0;
    --colr-orange: #ec7500;
    --colr-yellow-rgb: 224, 172, 0;
    --colr-yellow: #e0ac00;
    --colr-green-rgb: 8, 185, 78;
    --colr-green: #08b94e;
    --colr-cyan-rgb: 0, 191, 188;
    --colr-cyan: #00bfbc;
    --colr-blue-rgb: 8, 109, 221;
    --colr-blue: #086ddd;
    --colr-purple-rgb: 120, 82, 238;
    --colr-purple: #7852ee;
    --colr-pink-rgb: 213, 57, 132;
    --colr-pink: #d53984;
    --colr-00: #ffffff;
    --colr-05: #fcfcfc;
    --colr-10: #fafafa;
    --colr-20: #f6f6f6;
    --colr-25: #e3e3e3;
    --colr-30: #e0e0e0;
    --colr-35: #d4d4d4;
    --colr-40: #bdbdbd;
    --colr-50: #ababab;
    --colr-60: #707070;
    --colr-70: #5c5c5c;
    --colr-100: #222222;

    --colr-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
    --colr-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --colr-accent-1: hsl(calc(var(--accent-h) - 1), calc(var(--accent-s) * 1.01), calc(var(--accent-l) * 1.075));
    --colr-accent-2: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));
    --interactive-accent: var(--colr-accent-1);
    --interactive-accent-hov: var(--colr-accent-2);
    --text-selection: hsla(var(--colr-accent-hsl), 0.2);
    --text-accent: var(--colr-accent);
    --bg-mod-cover: rgba(220, 220, 220, 0.4);
}

/* html[data-theme='dark'], */
.dark {
    color-scheme: dark;
    --mono-rgb: var(--mono-rgb-100);
    --mono-rgb-inv: var(--mono-rgb-0);
    --colr-red-rgb: 251, 70, 76;
    --colr-red: #fb464c;
    --colr-orange-rgb: 233, 151, 63;
    --colr-orange: #e9973f;
    --colr-yellow-rgb: 224, 222, 113;
    --colr-yellow: #e0de71;
    --colr-green-rgb: 68, 207, 110;
    --colr-green: #44cf6e;
    --colr-cyan-rgb: 83, 223, 221;
    --colr-cyan: #53dfdd;
    --colr-blue-rgb: 2, 122, 255;
    --colr-blue: #027aff;
    --colr-purple-rgb: 168, 130, 255;
    --colr-purple: #a882ff;
    --colr-pink-rgb: 250, 153, 205;
    --colr-pink: #fa99cd;
    --colr-00: #1e1e1e;
    --colr-05: #212121;
    --colr-10: #242424;
    --colr-20: #262626;
    --colr-25: #2a2a2a;
    --colr-30: #363636;
    --colr-35: #3f3f3f;
    --colr-40: #555555;
    --colr-50: #666666;
    --colr-60: #999999;
    --colr-70: #b3b3b3;
    --colr-100: #dadada;

    --colr-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
    --colr-accent: hsl(var(--accent-h), var(--accent-s), var(--accent-l));
    --colr-accent-1: hsl(calc(var(--accent-h) - 3), calc(var(--accent-s) * 1.02), calc(var(--accent-l) * 1.15));
    --colr-accent-2: hsl(calc(var(--accent-h) - 5), calc(var(--accent-s) * 1.05), calc(var(--accent-l) * 1.29));
    --interactive-accent: var(--color-accent);
    --interactive-accent-hov: var(--color-accent-1);
    --text-selection: hsla(var(--colr-accent-hsl), 0.25);
    --text-accent: var(--colr-accent-1);
    --bg-mod-cover: rgba(10, 10, 10, 0.4);
}