{{ define "layout/blogs" }}

{{ template "prtls/head" . }}

<body class="blog">

	{{ linkJsSlice "preload" .P.Js }}
	{{ linkLibSlice .P.Lib }}
	{{ template "prtls/nav" . }}

	<main>

		<div class="wrap">
			<article class="blog-con con">
				<header class="blog-head">
					{{ template "prtls/blog.header" . }}
				</header>

				<section class="blog-content">
					{{ .P.Rt.Content }}
				</section>

				<div class="blog-foot">
					<hr class="line-x">
				</div>
			</article>
		</div>
		
	</main>

	{{ template "prtls/footer" . }}
	{{ linkJsSlice "preload" .P.Js99 }}
	{{ linkLibSlice .P.Lib99 }}

</body>
</html>

{{ end }}
