<h1 class="nodis"> {{ .P.Rt.description }} </h1>

<div class="blogs-wrap wrap">
    <div class="blogs con">
        <div class="blogs-category">
            <div class="category-menu">
                <a href="#">Server</a>
            </div>
            <a href="#">See All</a>
        </div>

        <div class="blogs-grid" id="BlogCards"></div>

        <div class="bouncy-loader" id="blogCards_loading">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>