.renderer.container.mx-auto{
    height: 100vh;
    min-width: 78vw;
    margin-top: 160px;
    background-color: #00000077;
    border-radius: 16px;
}

.blogs-grid:has(.sf-dump){
    --blogs-grid-template: repeat(1, minmax(0, 1fr));
}